{% extends "jobs_head.html" %}
{% block body %}
        <div class="row row-content">
           <div class="col-xs-12">
               <h2>Jobs<small>({{ entries[0][0] }})</small></h2>
               <p>({{entries|count}} jobs found)</p>
                <ol>
                
                {% for job in entries %}
                    <li>
                    <a target="_blank" href="{{ job[1] }}">{{ job[1] }}</a><br />
                    </li>
                {% endfor %}
               </ol>
            </div>
        </div>
{% endblock %}

